USE [master]
GO
/****** Object:  Database [Air-Check]    Script Date: 04/24/2016 11:32:32 ******/
CREATE DATABASE [Air-Check] ON  PRIMARY 
( NAME = N'Air-ChecK', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Air-ChecK.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Air-ChecK_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Air-ChecK_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Air-Check].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Air-Check]
GO
/****** Object:  Table [dbo].[TB_USERS]    Script Date: 04/24/2016 11:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_USERS](
	[ID_USER] [int] NOT NULL,
	[USERS] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TB_USERS] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_ADM_UBICATIONS]    Script Date: 04/24/2016 11:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ADM_UBICATIONS](
	[ID_ADM_IND] [int] NOT NULL,
	[NAME_ADM] [varchar](50) NOT NULL,
	[MAME_CONTRY] [varchar](50) NOT NULL,
	[NAME_STATE] [varchar](50) NOT NULL,
	[NAME_CITY] [varchar](50) NOT NULL,
	[LAT] [float] NOT NULL,
	[LONG] [float] NOT NULL,
 CONSTRAINT [PK_TB_ADM_UBICATIONS] PRIMARY KEY CLUSTERED 
(
	[ID_ADM_IND] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_ADM_HOSPITALS_UBICATION]    Script Date: 04/24/2016 11:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ADM_HOSPITALS_UBICATION](
	[ID_ADM_HOS] [int] NOT NULL,
	[NAME_ADMIN] [varchar](50) NOT NULL,
	[NAME_CONTRY] [varchar](50) NOT NULL,
	[NAME_STATE] [varchar](50) NOT NULL,
	[NAME_CITY] [varchar](50) NOT NULL,
	[LAT] [float] NOT NULL,
	[LONG] [float] NOT NULL,
 CONSTRAINT [PK_TB_HOSPITALS_UBICATION] PRIMARY KEY CLUSTERED 
(
	[ID_ADM_HOS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_DISEASES_UBICATIONS]    Script Date: 04/24/2016 11:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_DISEASES_UBICATIONS](
	[ID_UBICATIONS] [int] NOT NULL,
	[NAME_ADM] [varchar](50) NOT NULL,
	[NAME_CONTRY] [varchar](30) NOT NULL,
	[NAME_STATE] [varchar](50) NULL,
	[NAME_CITY] [varchar](50) NULL,
	[LAT] [float] NOT NULL,
	[LONG] [float] NOT NULL,
 CONSTRAINT [PK_TB_UBICATIONS] PRIMARY KEY CLUSTERED 
(
	[ID_UBICATIONS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_DISEASES]    Script Date: 04/24/2016 11:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_DISEASES](
	[ID_DISEASES] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[SYMPTOMS] [varchar](400) NOT NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[PREVENTION] [varchar](500) NULL,
	[LEVEL_VALUES] [varchar](50) NULL,
	[METODO] [varchar](7) NOT NULL,
	[ID_UBICATIONS] [int] NULL,
 CONSTRAINT [PK_TB_DISEASES] PRIMARY KEY CLUSTERED 
(
	[ID_DISEASES] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TB_REG_HOS]    Script Date: 04/24/2016 11:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_REG_HOS](
	[ID_ADM_IND] [int] NOT NULL,
	[ID_DISEASES] [int] NOT NULL,
	[FHECA] [date] NOT NULL,
 CONSTRAINT [PK_TB_REG_HOS] PRIMARY KEY CLUSTERED 
(
	[ID_ADM_IND] ASC,
	[ID_DISEASES] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_FECH_REG]    Script Date: 04/24/2016 11:32:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_FECH_REG](
	[ID_ADM_IND] [int] NOT NULL,
	[ID_DISEASES] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
 CONSTRAINT [PK_TB_FECH_REG_1] PRIMARY KEY CLUSTERED 
(
	[ID_ADM_IND] ASC,
	[ID_DISEASES] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_TB_DISEASES_TB_DISEASES_UBICATIONS]    Script Date: 04/24/2016 11:32:42 ******/
ALTER TABLE [dbo].[TB_DISEASES]  WITH CHECK ADD  CONSTRAINT [FK_TB_DISEASES_TB_DISEASES_UBICATIONS] FOREIGN KEY([ID_UBICATIONS])
REFERENCES [dbo].[TB_DISEASES_UBICATIONS] ([ID_UBICATIONS])
GO
ALTER TABLE [dbo].[TB_DISEASES] CHECK CONSTRAINT [FK_TB_DISEASES_TB_DISEASES_UBICATIONS]
GO
/****** Object:  ForeignKey [FK_TB_REG_HOS_TB_ADM_HOSPITALS_UBICATION]    Script Date: 04/24/2016 11:32:42 ******/
ALTER TABLE [dbo].[TB_REG_HOS]  WITH CHECK ADD  CONSTRAINT [FK_TB_REG_HOS_TB_ADM_HOSPITALS_UBICATION] FOREIGN KEY([ID_ADM_IND])
REFERENCES [dbo].[TB_ADM_HOSPITALS_UBICATION] ([ID_ADM_HOS])
GO
ALTER TABLE [dbo].[TB_REG_HOS] CHECK CONSTRAINT [FK_TB_REG_HOS_TB_ADM_HOSPITALS_UBICATION]
GO
/****** Object:  ForeignKey [FK_TB_REG_HOS_TB_DISEASES]    Script Date: 04/24/2016 11:32:42 ******/
ALTER TABLE [dbo].[TB_REG_HOS]  WITH CHECK ADD  CONSTRAINT [FK_TB_REG_HOS_TB_DISEASES] FOREIGN KEY([ID_DISEASES])
REFERENCES [dbo].[TB_DISEASES] ([ID_DISEASES])
GO
ALTER TABLE [dbo].[TB_REG_HOS] CHECK CONSTRAINT [FK_TB_REG_HOS_TB_DISEASES]
GO
/****** Object:  ForeignKey [FK_TB_FECH_REG_TB_ADM_UBICATIONS]    Script Date: 04/24/2016 11:32:42 ******/
ALTER TABLE [dbo].[TB_FECH_REG]  WITH CHECK ADD  CONSTRAINT [FK_TB_FECH_REG_TB_ADM_UBICATIONS] FOREIGN KEY([ID_ADM_IND])
REFERENCES [dbo].[TB_ADM_UBICATIONS] ([ID_ADM_IND])
GO
ALTER TABLE [dbo].[TB_FECH_REG] CHECK CONSTRAINT [FK_TB_FECH_REG_TB_ADM_UBICATIONS]
GO
/****** Object:  ForeignKey [FK_TB_FECH_REG_TB_DISEASES]    Script Date: 04/24/2016 11:32:42 ******/
ALTER TABLE [dbo].[TB_FECH_REG]  WITH CHECK ADD  CONSTRAINT [FK_TB_FECH_REG_TB_DISEASES] FOREIGN KEY([ID_DISEASES])
REFERENCES [dbo].[TB_DISEASES] ([ID_DISEASES])
GO
ALTER TABLE [dbo].[TB_FECH_REG] CHECK CONSTRAINT [FK_TB_FECH_REG_TB_DISEASES]
GO
