USE [Air-Check]
GO
/****** Object:  Table [dbo].[TB_USERS]    Script Date: 04/24/2016 12:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_USERS](
	[ID_USER] [int] NOT NULL,
	[USERS] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TB_USERS] PRIMARY KEY CLUSTERED 
(
	[ID_USER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TB_USERS] ([ID_USER], [USERS], [PASSWORD]) VALUES (1, N'DEMO1', N'DEMO1')
INSERT [dbo].[TB_USERS] ([ID_USER], [USERS], [PASSWORD]) VALUES (2, N'DEMO2', N'DEMO2')
/****** Object:  Table [dbo].[TB_ADM_UBICATIONS]    Script Date: 04/24/2016 12:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ADM_UBICATIONS](
	[ID_ADM_IND] [int] NOT NULL,
	[NAME_ADM] [varchar](50) NOT NULL,
	[MAME_CONTRY] [varchar](50) NOT NULL,
	[NAME_STATE] [varchar](50) NOT NULL,
	[NAME_CITY] [varchar](50) NOT NULL,
	[LAT] [float] NOT NULL,
	[LONG] [float] NOT NULL,
 CONSTRAINT [PK_TB_ADM_UBICATIONS] PRIMARY KEY CLUSTERED 
(
	[ID_ADM_IND] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TB_ADM_UBICATIONS] ([ID_ADM_IND], [NAME_ADM], [MAME_CONTRY], [NAME_STATE], [NAME_CITY], [LAT], [LONG]) VALUES (1, N'JUAN', N'MÉXICO', N'SINALOA', N'LOS MOCHIS', 25789780, -108984584)
INSERT [dbo].[TB_ADM_UBICATIONS] ([ID_ADM_IND], [NAME_ADM], [MAME_CONTRY], [NAME_STATE], [NAME_CITY], [LAT], [LONG]) VALUES (2, N'PEDRO', N'STATES UNITES', N'LAS VEGAS', N'NEVADA', 36161888, -115154765)
INSERT [dbo].[TB_ADM_UBICATIONS] ([ID_ADM_IND], [NAME_ADM], [MAME_CONTRY], [NAME_STATE], [NAME_CITY], [LAT], [LONG]) VALUES (3, N'ROBERTO', N'SPAIN', N'MADRID', N'CORDOBA', 37885459, -4781379)
/****** Object:  Table [dbo].[TB_ADM_HOSPITALS_UBICATION]    Script Date: 04/24/2016 12:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_ADM_HOSPITALS_UBICATION](
	[ID_ADM_HOS] [int] NOT NULL,
	[NAME_ADMIN] [varchar](50) NOT NULL,
	[NAME_CONTRY] [varchar](50) NOT NULL,
	[NAME_STATE] [varchar](50) NOT NULL,
	[NAME_CITY] [varchar](50) NOT NULL,
	[LAT] [float] NOT NULL,
	[LONG] [float] NOT NULL,
 CONSTRAINT [PK_TB_HOSPITALS_UBICATION] PRIMARY KEY CLUSTERED 
(
	[ID_ADM_HOS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TB_ADM_HOSPITALS_UBICATION] ([ID_ADM_HOS], [NAME_ADMIN], [NAME_CONTRY], [NAME_STATE], [NAME_CITY], [LAT], [LONG]) VALUES (1, N'DR. CHIVAZUKI', N'MEXICO', N'SINALOA', N'LOS MOCHIS', 25789780, -108984584)
INSERT [dbo].[TB_ADM_HOSPITALS_UBICATION] ([ID_ADM_HOS], [NAME_ADMIN], [NAME_CONTRY], [NAME_STATE], [NAME_CITY], [LAT], [LONG]) VALUES (2, N'DR. JUANITO', N'STATES UNITES', N'LAS VEGAS', N'NEVADA', 36161888, -115154765)
INSERT [dbo].[TB_ADM_HOSPITALS_UBICATION] ([ID_ADM_HOS], [NAME_ADMIN], [NAME_CONTRY], [NAME_STATE], [NAME_CITY], [LAT], [LONG]) VALUES (3, N'DR. PEDRITO', N'SPAIN', N'MADRID', N'CORDOBA', 37885459, -4781379)
/****** Object:  Table [dbo].[TB_DISEASES_UBICATIONS]    Script Date: 04/24/2016 12:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_DISEASES_UBICATIONS](
	[ID_UBICATIONS] [int] NOT NULL,
	[NAME_ADM] [varchar](50) NOT NULL,
	[NAME_CONTRY] [varchar](30) NOT NULL,
	[NAME_STATE] [varchar](50) NULL,
	[NAME_CITY] [varchar](50) NULL,
	[LAT] [float] NOT NULL,
	[LONG] [float] NOT NULL,
 CONSTRAINT [PK_TB_UBICATIONS] PRIMARY KEY CLUSTERED 
(
	[ID_UBICATIONS] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TB_DISEASES_UBICATIONS] ([ID_UBICATIONS], [NAME_ADM], [NAME_CONTRY], [NAME_STATE], [NAME_CITY], [LAT], [LONG]) VALUES (1, N'JUAN', N'MÉXICO', N'SINALOA', N'LOS MOCHIS', 25789780, -108984584)
INSERT [dbo].[TB_DISEASES_UBICATIONS] ([ID_UBICATIONS], [NAME_ADM], [NAME_CONTRY], [NAME_STATE], [NAME_CITY], [LAT], [LONG]) VALUES (2, N'PEDRO', N'STATES UNITES', N'LAS VEGAS', N'NEVADA', 36161888, -115154765)
INSERT [dbo].[TB_DISEASES_UBICATIONS] ([ID_UBICATIONS], [NAME_ADM], [NAME_CONTRY], [NAME_STATE], [NAME_CITY], [LAT], [LONG]) VALUES (3, N'ROBERTO', N'SPAIN', N'MADRID', N'CORDOBA', 37885459, -4781379)
/****** Object:  Table [dbo].[TB_DISEASES]    Script Date: 04/24/2016 12:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TB_DISEASES](
	[ID_DISEASES] [int] NOT NULL,
	[NOMBRE] [varchar](50) NOT NULL,
	[SYMPTOMS] [varchar](400) NOT NULL,
	[DESCRIPTION] [varchar](500) NULL,
	[PREVENTION] [varchar](500) NULL,
	[LEVEL_VALUES] [varchar](50) NULL,
	[METODO] [varchar](7) NOT NULL,
	[ID_UBICATIONS] [int] NULL,
 CONSTRAINT [PK_TB_DISEASES] PRIMARY KEY CLUSTERED 
(
	[ID_DISEASES] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[TB_DISEASES] ([ID_DISEASES], [NOMBRE], [SYMPTOMS], [DESCRIPTION], [PREVENTION], [LEVEL_VALUES], [METODO], [ID_UBICATIONS]) VALUES (1, N'ANTRAX', N'FIEBRE FATIGA TOS', N'Cura SI, antibioticos, especialmente cutaneo', N'NO', N'MORTAL', N'QUÍMICO', NULL)
INSERT [dbo].[TB_DISEASES] ([ID_DISEASES], [NOMBRE], [SYMPTOMS], [DESCRIPTION], [PREVENTION], [LEVEL_VALUES], [METODO], [ID_UBICATIONS]) VALUES (2, N'EBOLA', N'Fiebre hemorragica', N'Cura NO Tipo de muerte shock hipovolemico por perdida de sangre por hemorragias', N'NO', N'MORTAL', N'FÍSICO', NULL)
INSERT [dbo].[TB_DISEASES] ([ID_DISEASES], [NOMBRE], [SYMPTOMS], [DESCRIPTION], [PREVENTION], [LEVEL_VALUES], [METODO], [ID_UBICATIONS]) VALUES (3, N'VIRUS MARBURGO', N'diarrea acuosa con dolor abdominal y calambres, náusea y vómito', N'periodo de incubación de la enfermedad es de alededor de 3 a 9 días', N'SI', N'LEVE', N'QUÍMICO', NULL)
/****** Object:  Table [dbo].[TB_REG_HOS]    Script Date: 04/24/2016 12:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_REG_HOS](
	[ID_ADM_IND] [int] NOT NULL,
	[ID_DISEASES] [int] NOT NULL,
	[FHECA] [date] NOT NULL,
 CONSTRAINT [PK_TB_REG_HOS] PRIMARY KEY CLUSTERED 
(
	[ID_ADM_IND] ASC,
	[ID_DISEASES] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_REG_HOS] ([ID_ADM_IND], [ID_DISEASES], [FHECA]) VALUES (1, 1, CAST(0x343B0B00 AS Date))
INSERT [dbo].[TB_REG_HOS] ([ID_ADM_IND], [ID_DISEASES], [FHECA]) VALUES (3, 5, CAST(0x0D3B0B00 AS Date))
INSERT [dbo].[TB_REG_HOS] ([ID_ADM_IND], [ID_DISEASES], [FHECA]) VALUES (3, 7, CAST(0xFD3A0B00 AS Date))
/****** Object:  Table [dbo].[TB_FECH_REG]    Script Date: 04/24/2016 12:11:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_FECH_REG](
	[ID_ADM_IND] [int] NOT NULL,
	[ID_DISEASES] [int] NOT NULL,
	[FECHA] [date] NOT NULL,
 CONSTRAINT [PK_TB_FECH_REG_1] PRIMARY KEY CLUSTERED 
(
	[ID_ADM_IND] ASC,
	[ID_DISEASES] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TB_FECH_REG] ([ID_ADM_IND], [ID_DISEASES], [FECHA]) VALUES (1, 1, CAST(0xFC3A0B00 AS Date))
INSERT [dbo].[TB_FECH_REG] ([ID_ADM_IND], [ID_DISEASES], [FECHA]) VALUES (1, 8, CAST(0x183B0B00 AS Date))
INSERT [dbo].[TB_FECH_REG] ([ID_ADM_IND], [ID_DISEASES], [FECHA]) VALUES (2, 5, CAST(0x343B0B00 AS Date))
/****** Object:  ForeignKey [FK_TB_DISEASES_TB_DISEASES_UBICATIONS]    Script Date: 04/24/2016 12:11:53 ******/
ALTER TABLE [dbo].[TB_DISEASES]  WITH CHECK ADD  CONSTRAINT [FK_TB_DISEASES_TB_DISEASES_UBICATIONS] FOREIGN KEY([ID_UBICATIONS])
REFERENCES [dbo].[TB_DISEASES_UBICATIONS] ([ID_UBICATIONS])
GO
ALTER TABLE [dbo].[TB_DISEASES] CHECK CONSTRAINT [FK_TB_DISEASES_TB_DISEASES_UBICATIONS]
GO
/****** Object:  ForeignKey [FK_TB_FECH_REG_TB_ADM_UBICATIONS]    Script Date: 04/24/2016 12:11:53 ******/
ALTER TABLE [dbo].[TB_FECH_REG]  WITH CHECK ADD  CONSTRAINT [FK_TB_FECH_REG_TB_ADM_UBICATIONS] FOREIGN KEY([ID_ADM_IND])
REFERENCES [dbo].[TB_ADM_UBICATIONS] ([ID_ADM_IND])
GO
ALTER TABLE [dbo].[TB_FECH_REG] CHECK CONSTRAINT [FK_TB_FECH_REG_TB_ADM_UBICATIONS]
GO
/****** Object:  ForeignKey [FK_TB_FECH_REG_TB_DISEASES]    Script Date: 04/24/2016 12:11:53 ******/
ALTER TABLE [dbo].[TB_FECH_REG]  WITH CHECK ADD  CONSTRAINT [FK_TB_FECH_REG_TB_DISEASES] FOREIGN KEY([ID_DISEASES])
REFERENCES [dbo].[TB_DISEASES] ([ID_DISEASES])
GO
ALTER TABLE [dbo].[TB_FECH_REG] CHECK CONSTRAINT [FK_TB_FECH_REG_TB_DISEASES]
GO
/****** Object:  ForeignKey [FK_TB_REG_HOS_TB_ADM_HOSPITALS_UBICATION]    Script Date: 04/24/2016 12:11:53 ******/
ALTER TABLE [dbo].[TB_REG_HOS]  WITH CHECK ADD  CONSTRAINT [FK_TB_REG_HOS_TB_ADM_HOSPITALS_UBICATION] FOREIGN KEY([ID_ADM_IND])
REFERENCES [dbo].[TB_ADM_HOSPITALS_UBICATION] ([ID_ADM_HOS])
GO
ALTER TABLE [dbo].[TB_REG_HOS] CHECK CONSTRAINT [FK_TB_REG_HOS_TB_ADM_HOSPITALS_UBICATION]
GO
/****** Object:  ForeignKey [FK_TB_REG_HOS_TB_DISEASES]    Script Date: 04/24/2016 12:11:53 ******/
ALTER TABLE [dbo].[TB_REG_HOS]  WITH CHECK ADD  CONSTRAINT [FK_TB_REG_HOS_TB_DISEASES] FOREIGN KEY([ID_DISEASES])
REFERENCES [dbo].[TB_DISEASES] ([ID_DISEASES])
GO
ALTER TABLE [dbo].[TB_REG_HOS] CHECK CONSTRAINT [FK_TB_REG_HOS_TB_DISEASES]
GO
